<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Proximity Chat</title>
</head>
<body>
    <div>Current Location (Latitude: <span id="latitude-text"></span> Longitude:<span id="longitude-text"></span>)</div>
    <div class="container" id="container"></div>
</body>
<script src="script.js"></script>
</html>